<h1>Movies!</h1>
<p>The most first movie is: <%= @movie.title %></p>
<p>It has <%= @movie.votes_count %> votes!</p>

<h2>My Favorite</h2>
<h3>My favorite movie is <%= @my_favorite.title %></h3>
<h3>It was released in <%= @my_favorite.year %></h3>
